<div class="clr-row">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        <i class='bx bxs-plane-alt'></i>
        <span>
          Application for leave
        </span>
      </div>
      <div class="card-block text-sm">
        <p class="card-text">
          Apply for leave. Your application will be reviewed and approved by your Head of Department
          and then processed by the HRM Department.
        </p>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">
          <i class='bx bxs-envelope-open' ></i>
          Apply
        </button>
      </div>
    </div>
  </div>

  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">
        <i class='bx bx-glasses-alt' ></i>
        <span>
          Application for studies
        </span>
      </div>
    <div class="card-block text-sm">
      <p class="card-text">
        Enroll for part-time or full-time studies
      </p>
    </div>
    <div class="card-footer">
      <button class="btn btn-sm btn-link">
        <i class='bx bxs-envelope-open' ></i>
        Apply
      </button>
    </div>
  </div>
</div>