<clr-main-container class="main-container">
  <app-nav></app-nav>

  <app-loader [active]="busy" [message]="busyMessage"></app-loader>

  <div class="content-container">
    <div class="content-area">        
        <router-outlet></router-outlet>
    </div>

    <!-- <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <ul class="nav-list" *ngIf="isHQ">
            <li><a class="nav-link active">Candidates</a></li>
          </ul>

          <ul class="nav-list" *ngIf="!isHQ">
            <li><a class="nav-link active">Profile</a></li>

            <li>
              <a class="nav-link">
                Apply
              </a>
            </li>
          </ul>
        </section>
      </section>
    </nav> -->

    <clr-vertical-nav *ngIf="!isHQ;else hq">
      <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
        <i class='bx bxs-user-circle' ></i>
        Profile
      </a>
      <a clrVerticalNavLink routerLink="/apply" routerLinkActive="active">
        <i class='bx bxs-pen' ></i>
        Apply
      </a>
      <a clrVerticalNavLink routerLink="/settings" routerLinkActive="active">
        <i class='bx bxs-cog' ></i>
        Settings
      </a>
      <!-- <div class="nav-divider"></div> -->
      <!-- <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a> -->
    </clr-vertical-nav>

    <ng-template #hq>
      <clr-vertical-nav>
        <a clrVerticalNavLink routerLink="/hq/candidates" routerLinkActive="active">
          <i class='bx bxs-user-circle' ></i>
          Candidates
        </a>
        <a clrVerticalNavLink routerLink="/hq/applications" routerLinkActive="active">
          <i class='bx bxs-pen' ></i>
          Applications
        </a>

        <a clrVerticalNavLink routerLink="/hq/packages" routerLinkActive="active">
          <i class='bx bxs-package'></i>
          Packages
        </a>

        <a clrVerticalNavLink routerLink="/hq/management" routerLinkActive="active">
          <i class='bx bxs-coffee' ></i>
          Management
        </a>
        <!-- <div class="nav-divider"></div> -->
        <!-- <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">Credit</a> -->
      </clr-vertical-nav>
    </ng-template>
</div>
</clr-main-container>