.logo {
    align-self: center;
}

/*
div {
  border: 1px solid #eee;
}
div > ul {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
div:hover > ul {
  visibility: visible;
  opacity: 1;
}
*/

.error {
  display: none;
  margin: .25rem 0 0;
  padding: .375rem .5rem;
  background: #c92100;
  color: #fafafa;
  border-radius: .125rem;
  line-height: .75rem;
  opacity: 0;
}

.error.active {
  animation: scale-display .1s;
  animation-fill-mode:forwards;
}

.error.inactive {
  animation: scale-display--reversed .1s;
  animation-fill-mode:forwards;
}

@keyframes scale-display {
  0% {
    opacity: 0;
    /*transform: scale(1,0);*/
    /*-webkit-transform: scale(1, 0);*/
  }

  20% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 576px) {
  .login {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
