.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
}

.login-wrapper {
    background-image: url("../../../assets/images/nysc-group-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


