<div class="flex user-profile">
  <app-loader [active]="busy" message="Please wait..."></app-loader>

  <div *ngIf="!!user" class="flex flex-col mt-4 mx-auto">
    <!-- <section class="title">
      <h1>
        <h1>Hello {{user.lastName}}!</h1>
      </h1>
    </section> -->

    <app-image-control uploadLabel="Upload"
                        uploadRoute="uploadPassport"
                        [imageSource]="passportSource">
    </app-image-control>

    <clr-tooltip>
      <label class="clr-control-label">Passport</label>
      <clr-icon clrTooltipTrigger shape="info-circle" size="18"></clr-icon>
      <clr-tooltip-content [clrSize]="dv.ddt ? 'lg' : 'sm'" clrPosition="bottom-right" *clrIfOpen>
        <span>Upload Specifications</span>
        <br><br>
        <ul>
          <li>Image should be taken in a white background.</li>
          <li>Image should not be larger than 2MB.</li>
        </ul>
      </clr-tooltip-content>
    </clr-tooltip>

    <section class="mt-1">
      <h5>
        Full Name:
      </h5>

      <h6>
        {{user.lastName}}
      </h6>

      <h6>
        {{user.otherNames}}
      </h6>
    </section>

    <section>
      <h5>
        Phone Number:
      </h5>

      <h6>
        {{user.phoneNumber}}
      </h6>
    </section>

    <section>
      <h5>
        State Of Origin:
      </h5>

      <h6>
        {{user.stateOfOrigin}}
      </h6>
    </section>

    <section>
      <h5>
        Data Region:
      </h5>

      <h6 class="text-primary">
        {{user.dataRegion}}
      </h6>
    </section>

    <section>
      <h5>
        Blood Group
      </h5>

      <h6>
        {{user.bloodGroup}}
      </h6>
    </section>

    <section class="flex flex-col">
      <h6 class="text-center">Signature</h6>

      <app-image-control uploadLabel="Upload"
                          uploadRoute="uploadPassport"
                          [hasBorder]="false"
                          [imageSource]="user.signature">
      </app-image-control>
    </section>
  </div>


</div>